{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "allowImportExportEverywhere": false
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "import"
  ],
  "settings": {
    "dot-notation": {
      "allowKeywords": false
    }
  }
}
